body{
  margin: 0px 0px 0px 0px;
  background-color: rgb(26, 26, 65);
  font-family: 'Noto Sans KR', sans-serif;
}
.f-logo{
  display: flex;
  margin-top: 300px;
  align-items: center;
  justify-content: center;
}
.f-description{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.f-link{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 1em 1em;
  border: solid rgba(255, 255, 255, 0.61) 1px;
  margin: 10px 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.158);
}

.nav-list{
  background-color: white;
  display: flex;
  width:1920px;
  margin: 0 auto;
  padding: 1em 0em;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.nav-item{
  margin: 1em;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.nav-item:hover{
  margin: 1em;
  color: rgb(109, 0, 235);
  text-decoration: none;
  font-weight: 800;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.item{
  display: flex;
  flex-direction: row;
  border-radius: 19px;
  border: solid 1px white;
  background-color: white;
  padding: 0em 2em;
  margin: 0.5em 1.5em;
  align-items: center;
}

.item-d{
  display: flex;
  flex-direction: column;
}

.item-title{
  color:black;
  font-weight: bold;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
.item-price{
  color: dimgray;
}

.item-image{
  width: 3em;
  height: 3em;
  padding-left: 0em;
  padding-right: 1em;
  margin-right: 10px;
}

.item-get{
  display: flex;
  justify-content: center;
  width: 3.5em;
  height: 3.5em;
  border-radius: 14px;
  padding: 0.5em;
  margin: 0em 0em 0em 3em;
  background-color: rgb(0, 162, 255);
  color: white;
  text-align:center;
}

.cart-item{
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 10em;
}
.cart-d{
  padding: 0em 1em;
}